<mtapp:setting
    id="fjscfm_move"
    label="<__trans phrase="Move to Movable Type 5.1">">
    <ul>
        <li><a class="mt-open-dialog" href="<$mt:var name="mt_uri">?__mode=fjss_move_start"><__trans phrase="Move all order info to Movable Type 5.1"></a></li>
        <li><a class="mt-open-dialog" href="<$mt:var name="mt_uri">?__mode=fjss_select_blogs"><__trans phrase="Move order info of selected websites and / or blogs to Movable Type 5.1"></a></li>
    </ul>
</mtapp:setting>
